{% extends 'base_layout.html' %}

{% block body%}
        <h1>All Articles Over Here!!!!</h1>
        <p>Welcome to Our Blog Website</p>
        <div class="articles">
            {% for article in articles %}
                <div class="article">
                    <h2><a href="{% url 'articles:detail' slug=article.slug %}">{{article.title}}</a></h2>
                    <p>{{article.snippet}}</p>
                    <p>{{article.date}}</p>
                    <p>Author: {{article.author}}</p>
                </div>
            {% endfor%}
        </div>
{% endblock%}